@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap');
:root {
    --primaryViolet: #5e42a6;
    --navColor: #312450;
    --firstBg: #5052b5;
    --secondBg: #4c4eac;
    --thirdBg: #484aa3;
    --fourthBg: #b74e91;
    --fifthBg: #5e42a6;
    --footerBg: #493382;
    --white: #fff;
    --border: #765eb3;
    --lightGray: rgba(211, 211, 211,.7);
    --borderLightGray: rgba(211, 211, 211,.3);
    --transition: .4s ease;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
}

/* nav */
nav {
    width: 25%;
    float: left;
    background: var(--navColor);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
nav img {
    width: 50%;
    display: block;
    margin: auto;
}
nav ul li {
    list-style: none;
    padding: 20px 50px 20px 20px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    font-size: .8rem;
    color: var(--white);
    border-bottom: 2px solid var(--border);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: var(--transition);
}
nav ul li a:hover {
    border-bottom: 2px solid var(--fourthBg);
    color: var(--lightGray);
}
nav ul .icons a {
    border: none;
    display: inline;
    font-size: 1.6rem;
    margin: 10px 0 0 10px;
}
nav ul .icons a:hover {
    color: var(--fourthBg);
    border: none;
}

/* main */
main {
    width: 75%;
    float: right;
}



